@import '../../variables';

.aggregationItem {
    border-bottom: 1px solid $border-color;
    margin-bottom: 0.8rem;
    padding-bottom: 0.8rem;

    a {
        color: $text-color;
        display: flex;
        text-decoration: none;
        
        .title {
            margin-left: 1.2rem;
            flex-grow: 1;
            margin-right: 0.8rem;
            overflow: hidden;
            text-overflow: clip;
        }
    }
}
